@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h2 class="text-center">Welcome</h2>
<hr />


<div class="text-center row">
    @foreach (var pitch in Model.Pitches)
    {
        <div class="card col-4">
            <img class="card-img-top" src="@pitch.ImageUrl" alt="Pitch Image">
            <div class="card-body">
                <h5 class="card-title">@pitch.Title</h5>
            </div>
        </div>
    }
    <div class="jumbotron" style="margin-top: 50px">
        <div class="row">
            <h4 class="col-md-6 text-center">Total Pitches: @Model.TotalPitches</h4>
            <h4 class="col-md-6 text-center">Total Rents: @Model.TotalRents</h4>
        </div>
    </div>
</div>
